
.Name
{
    background-color: gainsboro;
    margin-top: -2%;
}

.C
{
    padding-left: calc(50% - 13%); 
}


.F
{
    padding-left: calc(50% - 2%);
}

.CH
{
   padding-left: calc(50% - 14%);
}

.PInfor
{
    background-color: cornsilk;
}

.PInfor h4
{
    margin-left: 5%;
}

.PAtrib
{
    margin-top: -2%;
    background-color: darkkhaki;
}

.PAtrib h4
{
    margin-left: 5%;
}

.CSkil
{
    margin-top: -2%;
    background-color: bisque;
}

.CSkil h4
{
    margin-left: 5%;
}

.EdProf
{
    margin-top: -2%;
    background-color: rgb(243, 212, 165);
}

.EdProf h4
{
    margin-left: 5%;
}

.CStud
{
    margin-top: -2%;
    background-color: burlywood;
}

.CStud h4
{
    margin-left: 5%;
}

.Hon
{
    margin-top: -2%;
    background-color: coral;
}

.Hon h4
{
    margin-left: 5%;
}

.Mship
{
    margin-top: -2%;
    background-color: darkgoldenrod;
}

.Mship h4
{
    margin-left: 5%;
}

.HI
{
    margin-top: -2%;
    background-color: chocolate;
}

.HI h4
{
    margin-left: 5%;
}

.Dbtn
{
    margin-left: calc(50% - 5%);
    margin-top: 2%;
}

.Dbtn button
{
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}
